.tableTr {
    border: 1px;
    background-color: blueviolet;
    width: 150px;
    height: 30px;
    padding: auto;
    margin-left: 20px; 
}
.tableTd{
    text-align: center;
    font-size: 17px;
    background-color: aqua;
}